<config>
	<tabs>
        <meigee_tab translate="label" module="ThemeOptions">
            <label>Meigee / Theme Options</label>
            <sort_order>1</sort_order>
        </meigee_tab>
    </tabs>
    <sections>
        <meigee_general translate="label" module="ThemeOptions">
			<label>General Options</label>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>meigee_tab</tab>
            <groups>
                <appearance translate="label">
                    <label>Appearance</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <font translate="label comment">
                            <label>Font replacement</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/fontreplacement</source_model>
                            <comment>If choose disable option will be used standard font "Arial"</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </font>
                        <gfont translate="label comment">
                            <label>Google Fonts</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/gfont</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_font</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <font>2</font>
                            </depends>
                        </gfont>
                        <default_sizes translate="label comment">
                            <label>Use Default Sizes</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Disable to set yours</comment>
                            <depends>
                                <font>2</font>
                            </depends>
                        </default_sizes>
                        <fontsize translate="label comment">
                            <label>Font Size</label>
                            <frontend_type>Text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Use pixels</comment>
                            <depends>
                                <font>2</font>
                                <default_sizes>0</default_sizes>
                            </depends>
                        </fontsize>
                        <lineheight translate="label comment">
                            <label>Line Height</label>
                            <frontend_type>Text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Use pixels</comment>
                            <depends>
                                <font>2</font>
                                <default_sizes>0</default_sizes>
                            </depends>
                        </lineheight>
                        <fontweight>
                            <label>Font Weight</label>
                            <frontend_type>Text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>200,300,400,500,600,700,800</comment>
                            <depends>
                                <font>2</font>
                                <default_sizes>0</default_sizes>
                            </depends>
                        </fontweight>
                        <patern translate="label">
                            <label>Background Patern</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/patern</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_patern</frontend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </patern>
                        <custompatern>                      
                            <label>...or upload your own one</label>
                            <frontend_type>image</frontend_type>
                            <comment>JPG,GIF,PNG</comment>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">images</upload_dir>
                            <base_url type="media" scope_info="1">images</base_url>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                                            
                        </custompatern>
                        <customcolors translate="label">
                            <label>Custom Colors</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>                        
                            <comment>Enable to define your own colors</comment>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customcolors>
                        <sitebg translate="label">
                            <label>Site Background Color</label>
                            <frontend_type>text</frontend_type>                         
                            <comment>Click inside to change a color</comment>
                            <depends>
                                <customcolors>1</customcolors>
                            </depends>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sitebg>
                        <maincolor translate="label">
                            <label>Main Color</label>
                            <frontend_type>text</frontend_type>                         
                            <comment>Click inside to change a color</comment>
                            <depends>
                                <customcolors>1</customcolors>
                            </depends>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </maincolor>
                    </fields>
                </appearance>
		<layout translate="label">
                    <label>Layout</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sidebar translate="label">
				<label>Sidebar position</label>
				<frontend_type>Select</frontend_type>
				<source_model>ThemeOptions/layout</source_model>
				<frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
				<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
                        </sidebar>
                        <grid translate="label">
                            <label>Grid</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/grid</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grid>
                        <cartpage translate="label">
                            <label>My cart page</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/cartpage</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cartpage>
                    </fields>
                </layout>
		<customlogo translate="label">
                    <label>Custom Logo</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>    
                    <fields>
                        <logo_status translate="label">
                            <label>Logo status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <comment>Disable it to use default logo</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logo_status>
                        <logo>                      
                            <label>Upload your logo</label>
                            <frontend_type>image</frontend_type>
                            <comment>JPG,GIF,PNG</comment>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">images</upload_dir>
                            <base_url type="media" scope_info="1">images</base_url>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                            <depends><logo_status>1</logo_status></depends>                                           
                        </logo>
                        <logo_alt>
                            <label>Alternate text for logo</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                            <depends><logo_status>1</logo_status></depends>                   
                        </logo_alt>
                    </fields>                   
                </customlogo>
                <menu translate="label">
                    <label>Menu</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <type translate="label">
                            <label>Menu Type</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/menu</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type>
                        <home translate="label">
                            <label>Home Button</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </home>
                        <additional translate="label">
                            <label>Additional Menu Content</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </additional>
                        <cat_button translate="label">
                            <label>Category Button</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <comment>Enable this option if you want to show up category button in category description in navigation</comment>
                            <sort_order>4</sort_order>
                            <depends>
                                <additional>1</additional>
                            </depends>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cat_button>
                    </fields>
                </menu>
                <lang_switcher translate="label">
                    <label>Language Switcher</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/languageswitcher</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <label translate="label">
                            <label>Language label</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </label>
                    </fields>
                </lang_switcher>
                <curr_switcher translate="label">
                    <label>Currency Switcher</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/currencyswitcher</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <label translate="label">
                            <label>Currencies label</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </label>
                    </fields>
                </curr_switcher>
                <fancybox translate="label">
                    <label>Fancybox</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <fancybox_status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fancybox_status>
                        <fancybox_home translate="label">
                            <label>Homepage</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <fancybox_status>1</fancybox_status>
                            </depends>
                        </fancybox_home>
                        <fancybox_listing translate="label">
                            <label>Products Listing</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <fancybox_status>1</fancybox_status>
                            </depends>
                        </fancybox_listing>
                    </fields>
                </fancybox>
		<rollover translate="label">
                    <label>Product Hover Effect</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <rollover_status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
			    <comment>To use hover effect for a product set a label for needed image as "hover".</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rollover_status>
                    </fields>
                </rollover>
                <otheroptions translate="label">
                    <label>Other Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <totop translate="label">
                            <label>"To Top" Button</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </totop>			
                        <labelnew translate="label">
                            <label>Label "New" for products</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </labelnew>
                    </fields>
                </otheroptions>
            </groups>
        </meigee_general>
        <meigee_productpage translate="label" module="ThemeOptions">
            <label>Product Page</label>
            <sort_order>2</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>meigee_tab</tab>
            <groups>
                <productpage translate="label">
                    <label>Product Page Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
			<pagelayout translate="label">
                            <label>Product Page layout</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>ThemeOptions/productpagelayout</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <comment>Allows to choose layout for product page</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pagelayout>
                        <prevnext translate="label">
                            <label>Prev and Next product buttons</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>ThemeOptions/prevnext</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <comment>Allows you to move between products within a category just in one click</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </prevnext>
                        <moreviews translate="label">
                            <label>More views block</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>ThemeOptions/moreviews</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <comment>Slider option will work if product has 4+ images</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </moreviews>
                        <collateral translate="label">
                            <label>Collateral block</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>ThemeOptions/collateral</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </collateral>
                        <collateral_related translate="label">
                            <label>Related products block</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>ThemeOptions/related</source_model>
                            <frontend_model>themeoptions/adminhtml_system_config_form_field_imagessmall</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </collateral_related>
                    </fields>
                </productpage>
            </groups>
        </meigee_productpage>
        <meigee_sidebar translate="label" module="ThemeOptions">
            <label>Sidebar Blocks</label>
            <sort_order>3</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>meigee_tab</tab>
            <groups>
                <block_categories translate="label">
                    <label>Categories</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <option translate="label">
                            <label>Display as accordion</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/accordionoption</source_model>
                            <depends>
                                <status>1</status>
                            </depends>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </option>
                        <option_2 translate="label">
                            <label>Closed by default</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <status>1</status>
                                <option>1</option>
                            </depends>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </option_2>
                    </fields>
                </block_categories>
                <block_shop_by translate="label">
                    <label>Shop By</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <option translate="label">
                            <label>Display as accordion</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>ThemeOptions/accordionoption</source_model>
                            <depends>
                                <status>1</status>
                            </depends>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </option>
                        <option_2 translate="label">
                            <label>Closed by default</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <status>1</status>
                                <option>1</option>
                            </depends>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </option_2>
                    </fields>
                </block_shop_by>
                <block_compare translate="label">
                    <label>Compare Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                    </fields>
                </block_compare>
                <block_compared translate="label">
                    <label>Compared Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                    </fields>
                </block_compared>
                <block_viewed translate="label">
                    <label>Viewed Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                    </fields>
                </block_viewed>
                <block_wishlist translate="label">
                    <label>Wishlist</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <option translate="label">
                            <label>Display as slider</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <status>1</status>
                            </depends>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </option>
                    </fields>
                </block_wishlist>
                <block_tags translate="label">
                    <label>Popular Tags</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                    </fields>
                </block_tags>
                <block_orders translate="label">
                    <label>My orders</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>Select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                    </fields>
                </block_orders>		
            </groups>
        </meigee_sidebar>
        <meigee_headerslider translate="label" module="ThemeOptions">
            <label>Header Slider</label>
            <sort_order>4</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>meigee_tab</tab>
            <groups>
                <coin translate="label">
                    <label>Slider Options</label>
                    <comment><![CDATA[Full list of available options you can find <a target="_blank" href="http://www.iosscripts.com/iosslider/">there</a> <br/> You can add them manually by editing .phtml file - <em>app/design/frontend/meigeetheme/default/template/meigee/headerslider.phtml</em> ]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </enabled>
                        <onlyhome translate="label">
                            <label>Show only on the homepage</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Choose "No" to show slider on every page</comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </onlyhome>
                        <autoSlide translate="label">
                            <label>Auto Slide</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </autoSlide>
                        <autoSlideTimer translate="label">
                            <label>Auto Slide Timer</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </autoSlideTimer>
                        <autoSlideTransTimer translate="label">
                            <label>Auto Slide TransTimer</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </autoSlideTransTimer>
                        <desktopClickDrag translate="label">
                            <label>Desktop Click Drag</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </desktopClickDrag>
                        <infiniteSlider translate="label">
                            <label>Infinite Slider</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </infiniteSlider>
                    </fields>
                </coin>
            </groups>
        </meigee_headerslider>
    </sections>
</config>