<?xml version="1.0"?>
<config>
    <modules>
        <Meigee_Meigeewidgets>
            <version>0.0.1</version>
        </Meigee_Meigeewidgets>
    </modules>
    <global>
        <helpers>
            <meigeewidgets>
                <class>Meigee_Meigeewidgets_Helper</class>
            </meigeewidgets>
        </helpers>
        <blocks>
             <meigeewidgets>
                <class>Meigee_Meigeewidgets_Block</class>
             </meigeewidgets>
        </blocks>
        <models>
            <!-- ... -->
            <meigeewidgets>
                <class>Meigee_Meigeewidgets_Model</class>
            </meigeewidgets>   
            <!-- ... -->
        </models>
    </global>
    <!---->
    <frontend>
        <layout>
            <updates>
                <meigeewidgets>
                    <file>meigee/widgetoptions.xml</file>
                </meigeewidgets>
            </updates>
        </layout>
    </frontend>
</config>